@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-shadow {
  text-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.5);
}


/* loading animation */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ripple div {
  position: absolute;
  border: 1px solid #FFF;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top:9px;
    left:9px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top:9px;
    left:9px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top:9px;
    left:9px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width:18px;
    height:18px;
    opacity: 0;
  }
}

